<!doctype html>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-160747063-2"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-160747063-2');
		</script>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>reveal.js</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/reveal.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/theme/moon.css') }}">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="{{ url_for('static', filename='lib/css/zenburn.css') }}">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section name="Introduction">
					<section>
						<h1> Deepmatcher </h1>
					</section>
				</section>
				<section name="Business Objective">
					<section>
						<h2> Business Objective </h2>
					</section>
					<section>
						Life insurance models heavily rely upon third-party data. Using PII, this data needs to be joined to customer data.
					</section>
					<section>
						<img src="{{ url_for('static', filename='images/matching.png') }}">
					</section>
					<section>
						<h2> Challenges </h2>
						<ul>
							<li> Data quality - nicknames vs full names, mispellings, missing data fields, etc </li>
							<li> No repeatability / one off queries for each case </li>
							<li> Current process is very manual; requires an user to match each case individually </li>
						</ul>
					</section>
					<section>
						<h2> Objective </h2>
						<ul>
							<li class="fragment"> Produce high quality matches </li>
							<li class="fragment"> Develop an automated process for new cases </li>
							<li class="fragment"> Easily accessible interface for users </li>
						</ul>
					</section>
				</section>
				<section name="Entity Matching">
					<section>
						<h2> Entity Matching </h2>
					</section>
					<section>
						<p>"The results show that DL does not outperform current solutions on structured EM,
							but it can significantly outperform them on textual and dirty EM"</p>
						<i> <a href="http://pages.cs.wisc.edu/~anhai/papers1/deepmatcher-sigmod18.pdf">Deep Learning For Entity Matching: A Design Space Exploration </a> </i>
					</section>
					<section>
						<img src="{{ url_for('static', filename='images/types_em.png') }}">
					</section>
					<section>
						<img src="{{ url_for('static', filename='images/matching_diagram.png') }}">
					</section>
					<section>
						<img src="{{ url_for('static', filename='images/design_space.png') }}">
					</section>
					<section>
						<h2> The Magic of NLP </h2>
						<img src="{{ url_for('static', filename='images/deepmatcher.png') }}">
						<p>
							Used existing matched data as labels to feed into Deepmatcher model - precision/recall ~ 95%!
						</p>
					</section>
					<section>
						<img src="{{ url_for('static', filename='images/deepmatcher_flow.png') }}">
						<p>
						Deepmatcher is a layer on top of what already exists - SQL component produces possible matches with very relaxed rules, Deepmatcher fine-tunes
						</p>
					</section>
					<section id="fragments">
						<h2> Objective </h2>
						<ul>
							<li class="fragment"> Produce high quality matches - Deepmatcher &#9989; </li>
						</ul>
					</section>
				</section>
				<section name="Pipelining">
					<section>
						<h2> Pipelining </h2>
						<p> The more you plan, the luckier you get </p>
					</section>
					<section>
						<h3> Luigi </h3>
						<p> Pipelined with the old favorite, luigi. Highlights included:
						<ul>
							<li> Code for read/write to Azure </li>
							<li> SQLServer tasks with descriptor classes for salted targets - yuck! </li>
						</ul>
						</p>
					</section>
					<section>
						<h2> Task Graph </h2>
						<p>
							<img src="{{ url_for('static', filename='images/deepmatcher_task_graph.png') }}" style="width:40%;height:40%">
						</p>
					</section>
					<section>
					<h2> Objective </h2>
						<ul>
							<li> Produce high quality matches - Deepmatcher &#9989; </li>
							<li class="fragment"> Develop an automated process - Luigi pipeline &#9989; </li>
						</ul>
					</section>
				</section>
				<section name="DevOps">
					<section>
						<h2> DevOps </h2>
						<img src="{{ url_for('static', filename='images/devops.jpg') }}" style="height=50%">
					</section>
					<section>
						<h3> Bootstrap and Flask </h3>
						<img src="{{ url_for('static', filename='images/flask_front_end.png') }}">
					</section>
					<section>
						<img src="{{ url_for('static', filename='images/azuresignon.png') }}">
						<p>
							Security measures: Flask OIDC configured with Azure SSO - Azure app registration.
						</p>
					</section>
					<section>
						<h3> Deployment </h3>
						<ul>
							<li> Options: VM -> Azure Kubernetes -> Azure Container Instance -> Azure Function </li>
							<li class="fragment"> Dockerize app and deploy to Azure container instance! </li>
							<li class="fragment"> ... but container instances <a href="https://docs.microsoft.com/en-us/azure/container-instances/container-instances-gpu"> don't </a> support GPU containers with Virtual Nets </li>
							<li class="fragment"> Ok, write it without GPU! </li>
							<li class="fragment"> ... something something network security IP whitelisting </li>
							<li class="fragment"> So, deploy to kubernetes cluster! </li>
							<li class="fragment"> ... but memory limit on container - model file too big </li>
						</ul>
					</section>
					<section>
					<h2> Objective </h2>
						<ul>
							<li> Produce high quality matches - Deepmatcher &#9989; </li>
							<li> Develop an automated process - Luigi pipeline &#9989; </li>
							<li class="fragment"> Easily accessible interface for users - Flask website deployed to Kubernetes &#8263; </li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h2> Summary </h2>
					</section>
					<section>
						<h2> Objective </h2>
							<ul>
								<li> Produce high quality matches - Deepmatcher </li>
								<li> Develop an automated process - Luigi pipeline </li>
								<li> Accessible interface for users - Flask website accessed through docker on VMs </li>
							</ul>
					</section>
					<section>
						<img src="{{ url_for('static', filename='images/overview.png') }}">
					</section>
				</section>
				</section>
			</div>
		</div>

		<script src="{{ url_for('static', filename='lib/js/head.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/reveal.js') }}"></script>

		<script>
			Reveal.initialize({
				math: {
					mathjax: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js',
					config: 'TeX-AMS_HTML-full'  // See http://docs.mathjax.org/en/latest/config-files.html
				},
			});
		</script>
	</body>
</html>
