<!doctype html>
<html>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-160747063-2"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-160747063-2');
		</script>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>reveal.js</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/reveal.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/theme/moon.css') }}">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="static/lib/css/zenburn.css">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section name="Introduction">
					<section>
						<h1> Deepmatcher </h1>
					</section>
				</section>
				<section name="Business Objective">
					<section>
						<h2> Business Objective </h2>
					</section>
					<section>
						Life insurance models heavily rely upon third-party data. Using PII, this data needs to be joined to customer data.
					</section>
					<section>
						<img src="static/images/matching.png">
					</section>
					<section>
						<h2> Challenges </h2>
						<ul>
							<li> Nicknames vs full names </li>
							<li> Mispellings in names </li>
							<li> Missing data fields </li>
						</ul>
					</section>
					<section>
						<h2> Objective </h2>
						<ul>
							<li class="fragment"> Produce high quality matches </li>
							<li class="fragment"> Develop an automated process </li>
							<li class="fragment"> Easily accessible interface for users </li>
						</ul>
					</section>
					<section>
						<img src="static/images/deepmatcher_flow.png">
					</section>
				</section>
				<section name="Entity Matching">
					<section>
						<h2> Entity Matching </h2>
					</section>
					<section>
						<p>"The results show that DL does not outperform current solutions on structured EM,
							but it can significantly outperform them on textual and dirty EM"</p>
						<i> <a href="http://pages.cs.wisc.edu/~anhai/papers1/deepmatcher-sigmod18.pdf">Deep Learning For Entity Matching: A Design Space Exploration </a> </i>
					</section>
					<section>
						<img src="static/images/types_em.png">
					</section>
					<section>
						<img src="static/images/matching_diagram.png">
					</section>
					<section>
						<img src="static/images/design_space.png">
					</section>
					<section>
						<h2> The Magic of NLP </h2>
						<img src="static/images/deepmatcher.png">
						<p>
							Used existing matched data as labels to feed into Deepmatcher model - results were very accurate!
						</p>
					</section>
					<section id="fragments">
						<h2> Objective </h2>
						<ul>
							<li class="fragment"> Produce high quality matches - Deepmatcher &#9989; </li>
						</ul>
					</section>
				</section>
				<section name="Pipelining">
					<section>
						<h2> Pipelining </h2>
						<p> The more you plan, the luckier you get </p>
					</section>
					<section>
						<h3> Luigi </h3>
						<p> Pipelined with the old favorite, luigi. Highlights included:
						<ul>
							<li> Code for read/write to Azure </li>
							<li> SQLServer tasks with descriptor classes for salted targets - yuck! </li>
						</ul>
						</p>
					</section>
					<section>
						<h2> Task Graph </h2>
						<p>
							<img src="static/images/deepmatcher_task_graph.png" height="50%">
						</p>
					</section>
					<section>
					<h2> Objective </h2>
						<ul>
							<li> Produce high quality matches - Deepmatcher &#9989; </li>
							<li class="fragment"> Develop an automated process - Luigi pipeline &#9989; </li>
						</ul>
					</section>
				</section>
				<section name="DevOps">
					<section>
						<h2> DevOps </h2>
						<img src="static/images/devops.jpg">
					</section>
					<section>
						<h3> Bootstrap and Flask </h3>
						<img src="static/images/flask_front_end.png">
					</section>
					<section>
						<img src="static/images/azuresignon.png">
						<p>
							Security measures: Flask OIDC configured with Azure SSO - Azure app registration.
						</p>
					</section>
					<section>
						<h3> Deployment </h3>
						<ul>
							<li class="fragment"> Dockerize app and deploy to Azure container instance! </li>
							<li class="fragment"> ... but container instances don't support GPU containers </li>
							<li class="fragment"> Ok, write it without GPU! </li>
							<li class="fragment"> ... but still doesn't work with virtual nets - isn't secure :( </li>
							<li class="fragment"> So, deploy to kubernetes cluster! </li>
							<li class="fragment"> ... but memory limit on container - model file too big </li>
						</ul>
					</section>
					<section>
					<h2> Objective </h2>
						<ul>
							<li> Produce high quality matches - Deepmatcher &#9989; </li>
							<li> Develop an automated process - Luigi pipeline &#9989; </li>
							<li class="fragment"> Easily accessible interface for users - Flask website deployed to Kubernetes &#8263; </li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h2> Summary </h2>
					</section>
					<section>
						<h2> Objective </h2>
							<ul>
								<li> Produce high quality matches - Deepmatcher </li>
								<li> Develop an automated process - Luigi pipeline </li>
								<li> Accessible interface for users - Flask website accessed through docker on VMs </li>
							</ul>
					</section>
					<section>
						<img src="static/images/overview.png">
					</section>
				</section>
				</section>
			</div>
		</div>

		<script src="static/lib/js/head.min.js"></script>
		<script src="static/js/reveal.js"></script>

		<script>
			Reveal.initialize({
				math: {
					mathjax: 'https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js',
					config: 'TeX-AMS_HTML-full'  // See http://docs.mathjax.org/en/latest/config-files.html
				},
				dependencies: [
					{ src: 'static/plugin/markdown/marked.js' },
					{ src: 'static/plugin/markdown/markdown.js' },
					{ src: 'static/plugin/notes/notes.js', async: true },
					{ src: 'static/plugin/math/math.js', async: true },
					{ src: 'static/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
